
#banner{
    width: 80%;
    height: 350px;
    background-image: url("../images/banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#catalogo{
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 10px auto;
}
.produto{
    width: 200px;
    padding: 8px;
    border-radius: 5px;
    background-color: var(--branco);
    box-shadow: 5px 5px var(--preto);
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.produto img{
    width: 100%;
}
.localizacao{
    width: 100px;
    padding: 10px;
}
